*
{
box-sizing:border-box;
}
.container
{
width:100%;
}
.wrapper
{
width:1300px;
margin:auto;
}
.light
{
background-color:#e9edf2;
}
.top
{
width:200px;
height:200px;
display:inline-block;
}
#bottom
{
float:right; 	
margin-top:70px;
}
#textstyle
{
height:60px;
width:900px;
border-radius:8px;
padding:8px;
outline:none;
font-size:24px;
}
#buttonstyle
{
background-color:#00CCCC;
color:#FFFFFF;
padding:20px;
border-radius:8px;
width:130px;
outline:none;
}
#clear
{
clear:both;
}
.top img
{
width:270px;
height:240px;
}
::-webkit-input-placeholder
{
font-size:24px;
font-family:Georgia, "Times New Roman", Times, serif;
}
:-moz-placeholder
{
font-size:24px;
font-family:Georgia, "Times New Roman", Times, serif;
}
:-ms-input-placeholder
{
font-size:24px;
font-family:Georgia, "Times New Roman", Times, serif;
}
.gallery
{
border:1px solid #ccc;
}
.gallery img
{
width:300px;
height:200px;
}
.gallery a
{
text-decoration:none;
display:block;
}
.gallery a:hover
{
background-color:#00CCCC;
color:#FFFFFF;
}
.des
{
padding:15px;
text-align:center;
color:#31353d;
font-size:18px;
}
.responsive
{
padding:0 6px;
float:left;
width:25%;
}
h1
{
text-align:center;
color:#00CCCC;
text-shadow:Black;
font-family:Georgia, "Times New Roman", Times, serif;
font-size:36px;
}

