*
{
margin:0px;
padding:0px;
}
.container
{
width:100%;
}
.wrapper
{
width:1300px;
margin:auto;
}
.dark
{
background-color:#31353d;
color:#FFFFFF;
}
.light
{
background-color:#e9edf2;
}
.top
{
width:200px;
height:200px;
display:inline-block;
}
#bottom
{
float:right; 	
margin-top:70px;
}
#textstyle
{
height:60px;
width:900px;
border-radius:8px;
padding:8px;
outline:none;
font-size:24px;
}
#buttonstyle
{
background-color:#00CCCC;
color:#FFFFFF;
padding:20px;
border-radius:8px;
width:130px;
outline:none;
}
#clear
{
clear:both;
}
ul
{

}
ul li
{
width:212px;
display:inline-block;
height:35px;
line-height:35px;
text-align:center;
}
ul li a
{
text-decoration:none;
 color:#FFFFFF;
 display:block;
 }
ul li a:hover
{
background-color:#00CCCC;
}  
#slider_image img
{
width:1250px;
height:500;
border:2px solid grey;
padding:15px;
background-color:#eee;
margin-top:10px;
margin-bottom:10px;
}
h2
{text-align:center;
}
p
{text-align:center;
text-align:justify;
font-size:24px;
padding:5px;
margin-bottom:10px;
}
.top img
{
width:270px;
height:240px;
}
::-webkit-input-placeholder
{
font-size:24px;
font-family:Georgia, "Times New Roman", Times, serif;
}
:-moz-placeholder
{
font-size:24px;
font-family:Georgia, "Times New Roman", Times, serif;
}
:-ms-input-placeholder
{
font-size:24px;
font-family:Georgia, "Times New Roman", Times, serif;
}
h6
{
	font-size:16px;
	font-family:georgia;
	margin-bottom:10px;
	text-align:justify;
	text-align:center;
	
}	

